{% extends 'header.html'%}
{% load static %}

{% block title %}Міні-ігри{% endblock %}

{% block content %}
		<link rel="stylesheet" href="{% static 'css/games.css' %}">
		<h1>Міні-ігри</h1>

		<div>
			<aside>
				<a href="">Мафія</a>
			</aside>
			<aside>
				<a href="">Дія або протест</a>
			</aside>
			<aside>
				<a href="">Зал Суду Удачі</a>
			</aside>
			<aside>
				<a href="">Dungeons and Dragons</a>
			</aside>
			<aside>
				<a href=""></a>
			</aside>
			<aside>
				<a href=""></a>
			</aside>
		</div>
{% endblock %}