<!DOCTYPE html>
<html lang="ua">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Сторінка{% endblock %} | FoC</title>
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.webp' %}"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/fontawesome.js' %}" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/header.js'%}"></script>
</head>

<body>
	{% block special1 %}
	{% endblock %}

	{% block mobile_header %}
	<header id="mobile_btn">
		<button type="button">
			<i class="fa-solid fa-bars"></i>
		</button>
		<a href="/" class="mobile_title">Fair of Contradictions</a>

		<div id="buttons">

			<a href="/" class="{% if request.path == '/' %}active{% endif %}">ГОЛОВНА</a>
			<a href="/rules" class="{% if request.path == '/rules' %}active{% endif %}">ПРАВИЛА</a>
			<a href="/client" class="{% if request.path == '/client' %}active{% endif %}">КЛІЄНТ</a>
			<a href="" style="opacity: 0.2;" class="{% if request.path == '/faq' %}active{% endif %}">FAQ</a>
			<a href="/games" class="{% if request.path == '/games' %}active{% endif %}">МІНІ-ІГРИ</a>
			<a href="https://docs.google.com/document/d/1m8C_aJYCY_gcJpHumjvQvQWohGyh0ikiyU4nllJ3fug/edit?usp=sharing" target="_blank" class="{% if request.path == '/additonal_content' %}active{% endif %}">ДОД-КОНТЕНТ</a>
			<a href="/management" style="opacity: 0.2;" class="{% if request.path == '/management' %}active{% endif %}">АДМІНІСТРАЦІЯ</a>
		</div>
	</header>
	{% endblock %}
	<header class="main_header">
		<div class="header-bg"></div>
		{% if request.path != '/client' %}
		<a href="/" class="name">Fair of Contradictions</a>
		{% endif %}
		
		<a href="/" class="{% if request.path == '/' %}active{% endif %}">ГОЛОВНА</a>
		<a href="/rules" class="{% if request.path == '/rules' %}active{% endif %}">ПРАВИЛА</a>
		<a href="/client" class="{% if request.path == '/client' %}active{% endif %}">КЛІЄНТ</a>
		<a href="" style="opacity: 0.2;" class="{% if request.path == '/faq' %}active{% endif %}">FAQ</a>
		<a href="/games" class="{% if request.path == '/games' %}active{% endif %}">МІНІ-ІГРИ</a>
		<a href="https://docs.google.com/document/d/1m8C_aJYCY_gcJpHumjvQvQWohGyh0ikiyU4nllJ3fug/edit?usp=sharing" target="_blank" class="{% if request.path == '/additonal_content' %}active{% endif %}">ДОД-КОНТЕНТ</a>
		<a href="/management" style="opacity: 0.2;" class="{% if request.path == '/management' %}active{% endif %}">АДМІНІСТРАЦІЯ</a>
	</header>

	<main>
	{% block content %}
	{% endblock %}		
	</main>

	<footer>
		<p>
			© Fair of Contradictions. Всі права захищені.
			<br>
			Сайт підтримується: <a href="">Skipertale (Dexter#7537)</a>
		</p>
	</footer>
	{% block special2 %}
	{% endblock %}
</body>
</html>