{% extends 'header.html'%}
{% load static %}

{% block title %}Правила{% endblock %}

{% block content %}
		<link rel="stylesheet" href="{% static 'css/rules.css' %}">

		<h1>Правила сервера</h1>

		<aside>
			<p>На цій сторінці Ви можете ознайомитися з правилами сервера Fair of Contradictions. Недотримання цих правил Ви будете покарані Адміністрацією або Модерацією. у вигляді попередження, кіка, мута чи бана на сервері.</p>
			<p><span>@Dexter#7537 (Скіпер)</span> є Головним Адміністратором сервера. Саме він є останньою інстанцією.</p>
			<p>[M] префікс в ООС іменах ([M]Skipertale або [M]Kami) означає, що ця людина є адміністратором сервера.</p>
		</aside>

		<section>
			<h2>I розділ. Загальні положення.</h2>
			<h3>Основне спілкування ведеться українською мовою.</h3>
			<p>Іноземні мови не заборонені, але найчастіша розмова на них заборонена. Майте на увазі, що тут буде суб'єктивна оцінка, тому будьте обережні. За просте перекидання різних фраз або саме розмова якоюсь мовою через контекст того, що відбувається, нічого не буде.</p>

			<h3>Всі тести спрайтів \ музики \ фонів проходить тільки в Ruins та Backstage.</h3>
			<p>Дозволяється закрити персонально для себе окремий порожній Courtroom на який незабаром не запланований відіграш чогось.</p>

			<h3>Неналежна поведінка.</h3>
			<p>Якщо більша частина спільноти буде незадоволена якоюсь людиною або групою людей, і адміністрація постійно отримуватиме на них скарги, то ця сама людина або група може бути забанена перманентно.</p>

			<h3>Допускається використання стороннього клієнта.</h3>
			<p>Ми не зобов'язуємо встановлювати наш клієнт, справа Ваша. У разі відмови від переходу на офіційний клієнт можуть виникнути проблеми із відображенням офіційного контенту сервера. Тому ми рекомендуємо завантажити клієнт сервера, щоб не виникало подібних проблем.</p>
		</section>

		<section>
		<h2>II розділ. Призначення кімнат: </h2>

		<h3>Ruins (головна кімната):</h3>
		<p>Щитпост, імпри, рп, спілкування, тест спрайтів, музики, команд, можна використовувати мати.</p>

		<h3>Backstage:</h3>
		<p>Перевірка контенту, спрайтів, музики, команд, пояснення для новачків про клієнта, спілкування без щитпоста (мати дозволені).</p>

		<h3>Courtroom 1-4 (Ділові кімнати):</h3>
		<p>Імпри, рп, кейси, бесіди для груп гравців/з'ясування чогось важливого.</p>

		<h3>Playground 1-2 (Ігрові кімнати):</h3>
		<p>Проведення ігор.</p>

		<h3>Ryokan (Кімната для культурного спілкування, мати заборонені):</h3>
		<p>Спокійне культурне спілкування.</p>

		<h3>VA-11 (Кібер-бар):</h3>
		<p>Кімната для чилла, послухати музику, РП (за бажанням усіх учасників кімнати)</p>
		</section>

		<section>
		<h2>III розділ. На сервері заборонено:</h2>
			<ol>
				<li>ЕРП У БУДЬ-ЯКОМ КР/ПГ/РУЇНАХ/ЗАКУЛІССЯ/РЬОКАНІ/БЕКСТЕЙДЖІ/VA-11 У БУДЬ-ЯКОМУ ВИДІ;</li>
				<li>Втручатися в кейси/ігри, що проходять в кімнатах (не вважається, якщо в кімнаті стоїть статус RECESS);</li>
				<li>Спроби зірвати кейс/гру/відіграш/рп;</li>
				<li>Влаштовувати імпри/фанові кейси в Ryokan.</li>
				<li>Щитпостіти/спамити в кімнатах типу Courtroom/Playground, якщо там стоїть статус RP, Casing, Gaming.</li>
				<li>INI-swap на персонажів, яких немає у файлах клієнта (дод. ОДНАК, Допустимо при тестуванні контенту або для ГМА на кейсі/будь-якому іншому відіграші.</li>
				<li>Пропаганда релігійних, політичних, повстанських, ксенофобних переконань. (Відрізняйте пропаганду та висловлювання власної думки)</li>
				<li>Видавати себе за адміністрацію сервера (ви завжди можете перевірити, чи людина є адміністратором, ввівши команду /mods в ООС чат);</li>
				<li>Постійне або безпричинне використання кнопки “Call mod”;</li>
				<li>Постійне використання (абуз) кнопок “Witness Testimony/Cross-Examination” та “Guilty/Not Guilty” поза руїнами;</li>
				<li>Використання нецензурної лексики в кімнаті Ryokan/під час ігор (кейсу, ЗСУ та іншого) в основному чаті.</li>
				<li>Реклама інших серверів та/або інших ресурсів.</li>
				<li>Спам/флуд повідомленнями поза Руїном.</li>
				<li>Розміщення матеріалів, що містять порнографію, шок-контент та/або жорсткі сцени насильства.</li>
				<li>Розпалювання ненависті між людьми.</li>
				<li>Надсилання шкідливих посилань в IC/OOC чати.</li>
				<li>Засмічення питаннями основного чат/оос. Отримати відповідь на питання, що Вас цікавить, можна тут - <span><a href="">Нажми сюди</a></span>. Якщо його там немає, зверніться особисто до адміністрації.</li>
				<li>Засмічення пропозиціями щодо покращення сервера основного чаті/оос. Запропонувати щось нове можна тут - <span><a href="">Нажми на мене!</a></span></li>
			</ol>
		</section>
		
		<h2>Якщо Ви вважаєте, що вас покарали несправедливо, зверніться прямо до Головного адміністратора або хосту сервера.</h2>
{% endblock %}